<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OsLoginMapper">
	<resultMap type="OsLogin" id="OsLoginGetMapper">
		<id         property="osLoginId"          column="osLoginId"/>
		<result     property="LoginIp"        	  column="LoginIp"/>
		<result     property="loginInTime"        column="loginInTime"/>
		<result     property="loginOutTime"       column="loginOutTime"/>
		<result     property="timeLong"           column="timeLong"/>
		<collection property="Os"                 column="OsId"  select=""/>
	</resultMap>
	<!--  测试-->
	<resultMap type="OsLogin" id="GetMapper">
		<id         property="osLoginId"          column="osLoginId"/>
		<result     property="loginIp"        	  column="loginIp"/>
		<result     property="loginInTime"        column="loginInTime"/>
		<result     property="loginOutTime"       column="loginOutTime"/>
		<result     property="timeLong"           column="timeLong"/>
	</resultMap>
	
	<select id="selOneOsLoginByOsLoginId" parameterType="int" resultMap="GetMapper">
		SELECT osLoginId,osId,loginIp,loginInTime,loginOutTime,
		TIMESTAMPDIFF(SECOND,loginInTime,loginOutTime) as timeLong
		FROM osLogin WHERE osLoginId =#{osLoginId}
	</select>
	
	<select id="selectOsLoginDtoByOsId"  parameterType="int" resultType="OsLoginDto">
		SELECT ol.loginIp,ol.loginInTime,ol.loginOutTime,ta.tariffName,
		ta.tariff,ta.timeLong,ta.timeTariff,ta.tariffType,
	    TIMESTAMPDIFF(SECOND,ol.loginInTime,ol.loginOutTime) as timeLogin 
		FROM osLogin as ol 
	    INNER JOIN os 
	    ON ol.osId = os.osId 
		INNER JOIN tariff as ta 
		ON os.tariffId = ta.tariffId 
		WHERE ol.osId = #{osId};
	</select>
	
	<select id="selectOsLoginByMonthById" parameterType="Map" resultType="OsLoginDto" >
		SELECT loginIp,loginInTime,loginOutTime ,ta.tariffName,ta.tariff,ta.timeLong,ta.timeTariff,ta.tariffType,
		TIMESTAMPDIFF(SECOND,loginInTime,loginOutTime) timeLogin
		FROM oslogin  as ol  
		INNER JOIN os
		ON os.osId = ol.osId
		INNER JOIN tariff as ta
		ON os.tariffId = ta.tariffId
		WHERE DATE_FORMAT(loginOutTime,'%Y%m')= #{months} AND ol.osId = #{osId}
	</select>
	
	<insert id="insertOsLogin" useGeneratedKeys="true" keyProperty="osLoginId" parameterType="Map">
		INSERT INTO osLogin (osId,loginIp,loginInTime) 
		VALUES(#{osId},#{loginIp},now())
	</insert>
	
	<update id="updateOsLogin" parameterType="int">
		UPDATE osLogin 
		SET  loginOutTime = now() 
		WHERE osLoginId = #{osLoginId}
	</update>
	
	<select id="selectTotalTimeByOsIdAndMonth" parameterType="Map" resultType="int">
		SELECT sum(TIMESTAMPDIFF(SECOND ,loginInTime,loginOutTime)) as totalTime FROM oslogin WHERE osid = #{osId} AND DATE_FORMAT(loginOutTime,'%Y%m')= #{months} 
	</select>
</mapper>