<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OsMapper">
	<resultMap type="Os" id="OsGetMapper">
		<id         property="osId"       column="osId"/>
		<result     property="osAccount"  column="osAccount"/>
		<result     property="osPassword" column="osPassword"/>
		<result     property="serverIp"   column="serverIp"/>
		<collection property="Customer"   column="customerId" select=""/>
		<collection property="Tariff"     column="tariffId"   select=""/>
	</resultMap>
	<!-- 测试OS方法的map -->
	<resultMap type="Os" id="OstestMap">
		<id         property="osId"         column="osId"/>
		<result     property="osAccount"    column="osAccount"/>
		<result     property="osPassword"   column="osPassword"/>
		<result     property="serverIp"     column="serverIp"/>
	</resultMap>
	<!-- 查询一条信息，如需使用请注意修改resultMap -->
	<select id="selOneOsByOsid" parameterType="Os" resultMap="OstestMap">
		select * from os where osId=#{osId}
	</select>
	<!-- 通过业务账号去修改信息 -->
	<update id="upOneOsByBussinessId" >
		update os set tariffId=#{tariffId} where bussinessId = #{bussinessId}
	</update>
	<!-- 通过业务账号去删除信息 -->
	<delete id="delOneOsByOsId">
		delete from os where osId = #{osId}
	</delete>
	<!-- 查询在业务界面所需要显示的信息 -->
	<select id="selServiceShow" resultType="OsDto">
		SELECT b.bussinessId,c.customerId,c.idNumber,c.customerName,o.osAccount,
               c.`status`,o.serverIp,t.tariffName
               FROM
               bussiness AS b ,
               customer AS c ,
               os AS o ,
               tariff AS t
               WHERE
               b.osId = o.osId AND
               o.customerId = c.customerId AND
               t.tariffId = o.tariffId
		
	</select>
	<!-- 通过查询身份证进行对Os表的添加功能 -->
	<insert id=""></insert>
</mapper>