<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OsMapper">
	<resultMap type="Os" id="OsGetMapper">
		<id         property="osId"       column="osId"/>
		<result     property="osAccount"  column="osAccount"/>
		<result     property="osPassword" column="osPassword"/>
		<result     property="serverIp"   column="serverIp"/>
		<collection property="Customer"   column="customerId" select=""/>
		<collection property="Tariff"     column="tariffId"   select=""/>
	</resultMap>
	<!-- 测试OS方法的map -->
	<resultMap type="Os" id="OstestMap">
		<id         property="osId"         column="osId"/>
		<result     property="osAccount"    column="osAccount"/>
		<result     property="osPassword"   column="osPassword"/>
		<result     property="serverIp"     column="serverIp"/>
	</resultMap>
	<!-- 查询一条信息，如需使用请注意修改 resultMap-->
	<select id="selOneOsByOsid" parameterType="Os" resultMap="OstestMap">
		select * from os where osId=#{osId}
	</select>
	<!-- 通过业务账号去修改信息 -->
	<update id="upOneOsByBussinessId" >
		update os set tariffId=#{tariffId} where bussinessId = #{bussinessId}
	</update>
	<!-- 通过业务账号去删除信息 -->
	<delete id="delOneOsByBussinessId">
		delete from os where bussiness.bussinessId = os.bussinessId where osId=#{osId}
	</delete>
</mapper>