<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>teleComProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAction</display-name>
    <servlet-name>CustomerAction</servlet-name>
    <servlet-class>action.CustomerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAction</servlet-name>
    <url-pattern>/CustomerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomersAction</display-name>
    <servlet-name>CustomersAction</servlet-name>
    <servlet-class>action.CustomerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersAction</servlet-name>
    <url-pattern>/CustomersAction</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>AdminAction</display-name>
    <servlet-name>AdminAction</servlet-name>
    <servlet-class>action.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAction</servlet-name>
    <url-pattern>/AdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminAction</display-name>
    <servlet-name>AddAdminAction</servlet-name>
    <servlet-class>action.AddAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminAction</servlet-name>
    <url-pattern>/AddAdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TariffAction</display-name>
    <servlet-name>TariffAction</servlet-name>
    <servlet-class>action.TariffAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TariffAction</servlet-name>
    <url-pattern>/TariffAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>账务账号增加页面接收servlet</description>
    <display-name>BussinessAccountAddAction</display-name>
    <servlet-name>BussinessAccountAddAction</servlet-name>
    <servlet-class>action.BussinessAccountAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BussinessAccountAddAction</servlet-name>
    <url-pattern>/BussinessAccountAddAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceAddAction</display-name>
    <servlet-name>ServiceAddAction</servlet-name>
    <servlet-class>action.ServiceAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceAddAction</servlet-name>
    <url-pattern>/ServiceAddAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceShowAction</display-name>
    <servlet-name>ServiceShowAction</servlet-name>
    <servlet-class>action.ServiceShowAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceShowAction</servlet-name>
    <url-pattern>/ServiceShowAction</url-pattern>
  </servlet-mapping>
</web-app>