<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>teleComProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAction</display-name>
    <servlet-name>CustomerAction</servlet-name>
    <servlet-class>action.CustomerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAction</servlet-name>
    <url-pattern>/CustomerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomersAction</display-name>
    <servlet-name>CustomersAction</servlet-name>
    <servlet-class>action.CustomerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersAction</servlet-name>
    <url-pattern>/CustomersAction</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>